#babyborgcard {
    width: 30%;
    padding-right: 0px;
    padding-left: 0px;
}
#babyborg {
    margin: 0px;
}
#commonborgcard {
    width: 30%;
    padding-right: 0px;
    padding-left: 0px;
}
#commonborg {
    margin: 0px;
}