<ion-header>
<ion-button color="success" (click)="closeModal()" center>Zurück</ion-button>

</ion-header>
<ion-content>
<ion-textarea>
Willkommen in der Welt von Ionici Hero!
lorem ipsum dolor sit amet
lorem ipsum dolor sit amet
lorem ipsum dolor sit amet
lorem ipsum dolor sit amet
lorem ipsum dolor sit amet
</ion-textarea>
<ion-card id="babyborgcard">
<ion-img id="babyborg" src="/assets/img/babyborg.png">
</ion-img>
</ion-card>
<ion-card id="commonborgcard">
<ion-img id="commonborg" src="/assets/img/commonborg.png">
</ion-img>
</ion-card>



</ion-content>
