

<ion-header>
    <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
        <ion-button fill="solid" color="danger" (click)="removeKeys()">
            DELETE
        </ion-button>
        </ion-buttons>
        <ion-title >
            GG-GAMESTUDIOS <br>
            Login
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card id="login-card">
        <ion-item>
            <ion-label position="floating" class="label">
                Benutzername
            </ion-label>
            <ion-input
                    type="text" [(ngModel)]="username">

            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" class="label"> 
                Passwort
            </ion-label>
            <ion-input
                    type="text" [(ngModel)]="password">

            </ion-input>

        </ion-item>
            <ion-label (click)="loginKnopfFunction()" id="login-button">
                Login!
            </ion-label>
            <br/>
            <ion-label id="teaser">
                Sie haben noch keinen GG-Account?
            
                Registrieren Sie sich
            </ion-label>
            <ion-label class="regiLink" [routerLink]="'/registration'">
                HIER.
            </ion-label>
    </ion-card>
   
    
    

</ion-content>



