ion-content {
    background-image: url(/assets/img/login.png);
    
    background-size: 100%;
  }
  
.in-toolbar {
  --background: black;
}

.title-default {
  color: white;
}

#checkmark {
  font-size: 500%;
  color: #10dc60;
}

#login-card { 
  width: 90%; 
  margin-top: 10%; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(0, 0, 0, 0.4);
}

#login-button {
  display: block;
  color: rgba(255, 255, 255, 0.692);
  text-align: center;
  background: url(/assets/img/thechild.png);  
  background-size: 100%;
  width: 50%;
  font-size: 200%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  border: solid 4px black;

}
 
#teaser {
  color: white;
}
  
.regiLink {
  cursor: pointer;
  color: #4c8dff;
}    

