<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.esm.js"
></script>
<script
  nomodule
  src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.js"
></script>

<ion-content>
  <ion-button
    fill="solid"
    color="danger"
    size="large"
    id="logout"
    routerLink="/login"
    routerDirection="back"
  >
    Logout
  </ion-button>
  <div id="xpCount">
    <span id="levelCount">Lvl: {{ this.account.savestate.level }}</span>
    <span id="classSpan">{{ this.account.savestate.hero.klasse }}</span>
    <br />
    <span id="exp">EXP:</span>
    {{ this.account.savestate.totalxp }}/{{
      this.account.savestate.nextThreshhold
    }}
  </div>

  <ion-progress-bar
    id="xpBar"
    value="{{
      this.account.savestate.totalxp / this.account.savestate.nextThreshhold
    }}"
  ></ion-progress-bar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card id="heroCard">
          Held:
          <br />
          {{ this.account.username }}

          <ng-template [ngIf]="this.account.savestate.hero.klasse == 'Krieger'">
            <ion-img src="assets/img/krieger.png"></ion-img>
          </ng-template>
          <ng-template
            [ngIf]="this.account.savestate.hero.klasse == 'Waldläufer'"
          >
            <ion-img src="assets/img/waldlaufer.png"></ion-img>
          </ng-template>
          <ng-template [ngIf]="this.account.savestate.hero.klasse == 'Magier'">
            <ion-img src="assets/img/magier.png"></ion-img>
          </ng-template>
          <ion-progress-bar
            id="heroBar"
            value="{{
              this.account.savestate.hero.hp / this.account.savestate.hero.maxHp
            }}"
          ></ion-progress-bar>
          <span id="eHP">
            HP:{{ this.account.savestate.hero.hp.toFixed(2) }}
          </span>
          <span id="eMaxHP">MaxHP:{{ this.account.savestate.hero.maxHp }}</span>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card id="enemyCard">
          Lvl{{ this.account.savestate.level }}
          <br />
          {{ this.account.savestate.currentEnemy.name }}
          <ng-template
            [ngIf]="
              this.account.savestate.currentEnemy.name == 'Gewöhnlicher Borg'
            "
          >
            <ion-img src="assets/img/commonborg.png"></ion-img>
          </ng-template>
          <ng-template
            [ngIf]="this.account.savestate.currentEnemy.name == 'Fetter Borg'"
          >
            <ion-img src="assets/img/fatborg.png"></ion-img>
          </ng-template>
          <ng-template
            [ngIf]="this.account.savestate.currentEnemy.name == 'Dünner Borg'"
          >
            <ion-img src="assets/img/slimborg.png"></ion-img>
          </ng-template>
          <ng-template
            [ngIf]="
              this.account.savestate.currentEnemy.name == 'Borg Häuptling'
            "
          >
            <ion-img src="assets/img/borgchief.png"></ion-img>
          </ng-template>
          <ng-template
            [ngIf]="this.account.savestate.currentEnemy.name == 'Baby Borg'"
          >
            <ion-img src="assets/img/babyborg.png"></ion-img>
          </ng-template>
          <ng-template
            [ngIf]="this.account.savestate.currentEnemy.name == 'Tutorial Borg'"
          >
            <ion-img src="assets/img/babyborg.png"></ion-img>
          </ng-template>

          <ion-progress-bar
            id="enemyBar"
            value="{{
              this.account.savestate.eHP / this.account.savestate.eMaxHP
            }}"
          ></ion-progress-bar>
          <span id="eHP">HP:{{ this.account.savestate.eHP.toFixed(2) }}</span>
          <span id="eMaxHP">MaxHP:{{ this.account.savestate.eMaxHP }}</span>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="messageRow">
      <ion-col class="messageCol">
        <ion-card id="m1" ion-no-margin class="message">
          <ion-text>{{ this.message1 }} m1</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <br />
    <ion-row class="messageRow">
      <ion-col class="messageCol">
        <ion-card id="m2" class="message">
          <ion-text>{{ this.message2 }} m2</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <br />
    <ion-row class="messageRow">
      <ion-col class="messageCol">
        <ion-card id="m3" class="message">
          <ion-text>{{ this.message3 }} m3</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
    <br />
    <ion-row>
      <ion-col class="messageCol">
        <ion-card id="m4" class="message">
          <ion-text>{{ this.message4 }} m4</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>

    <br />
    <ion-row>
      <ion-col>
        <ion-button class="attackBtn btn-lg" (click)="normalAttack()">
          Normaler
          <br />
          Angriff
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="attackBtn btn-lg" color="danger" (click)="strongAttack()" *ngIf="this.account.savestate.strongCd == 0">
          Starker
          Angriff
          <br/>
          CD: 2
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          class="attackBtn btn-lg"
          (click)="specialAttack()"
          color="success"
          *ngIf="this.account.savestate.specialCd == 0">
           Spezial
          Angriff 
          <br/>
          CD: 5
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="solid" (click)="openModal()">
          Ausrüstung
        </ion-button>
      </ion-col>
      <ion-chip id="goldChip" color="warning" (click)="addGold()">
        Gold: {{ this.account.savestate.gold }}
      </ion-chip>
    </ion-row>
  </ion-grid>
</ion-content>
